* {
  outline: 0;
}

.App {
  font-family: sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.container {
  border-radius: 8px;
  border: 2px solid blue;
  font-family: sans-serif;
  margin: 10px;
  padding: 10px;
}

h1,
h2 {
  font-family: sans-serif;
}
